<header>
    <div class="row header-container">
        <div class="col-6 logo">
            <h1 class="logo-text"><a href="#">Name</a></h1>
            <h2 class="logo-secondary">Title</h2>
        </div>
        <nav class="col-6">
            <ul class="nav-list nonResp-menu">
                <li><a href="#" class="active">Projects</a></li>
                <!-- <li><a href="/home" class="active" *ngIf="loggedInUser">Add</a></li> -->
                <li><a href="/upload" class="active" *ngIf="loggedInUser">Upload</a></li>
                <li><a href="javascript:void(0)" (click)="logout()" class="active" *ngIf="loggedInUser">Logout</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            <div class="resp-nav">
                <div class="nav-icon" (click)="openHiddenMenu($event)" [ngClass]="{'active': toggle}">
                    <a href="#"><i class="fas fa-bars"></i></a>
                    <div class="hidden-menu">
                        <p (click)="hideHiddenMenu($event)" class="close-menu">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </p>
                        <a href="#" class="active">Projects</a>
                        <ul class="nav-list">
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>