$primary-color: #303030;
$seconday-color: #BEBEBE;
$hover-color: #4585F3;
// Primary colors
$white: #ffffff;
$black: #000000;
// White
$alabaster: #f7f7f7;
//grey
$grey: #999999;
$grey2: #919191;
$dark-grey: #323232;
$grey3: #707070;