// Font size
$base-fontsize: 18px;
$small-fontsize: 15px;
$semi-large-fontsize: 25px;
$large-fontsize: 3vw;
// Font weight
$normal: normal;
$weight-100: 100;
$weight-400: 400;
$weight-700: 700;
//Text align
$text-left: left;
$text-right: right;
$text-center: center;
//Display
$display-inlineblock: inline-block;
$display-block: block;
$display-inline: inline;
$display-none: none;
//Text transform
$text-uppercase: uppercase;
//Position
$position-relative: relative;
$position-absolute: absolute;