// Font size
$base-fontsize: 18px;
$small-fontsize: 16px;
$semi-large-fontsize: 20px;
$fontsize-30: 30px;
$fontsize-24: 24px;
$large-fontsize: 2.3vw;
$extra-large-fontsize: 90px;
//Font type
$MontserratRegular: Montserrat-Regular;
$MontserratSemiBold: Montserrat-SemiBold;
$MontserratBold: Montserrat-Bold;
$OpenSansRegular: OpenSans-Regular;
$OpenSansSemiBold: OpenSans-SemiBold;
// Font weight
$normal: normal;
$weight-100: 100;
$weight-400: 400;
$weight-700: 700;
//Text align
$text-left: left;
$text-right: right;
$text-center: center;
//Display
$display-inlineblock: inline-block;
$display-block: block;
$display-inline: inline;
$display-none: none;
$display-flex: flex;
//Text transform
$text-uppercase: uppercase;
//Position
$position-relative: relative;
$position-absolute: absolute;
$position-fixed: fixed;
//common
$none: none;
$hidden: hidden;
//float
$left: left;
$right: right;