<main role="main">
    <h2>Upload project details </h2>
    <div class="upload-panel">
        <div class="form-group">
            <label for="photos">Upload Image</label>
            <input id="photos" name="photos" type="file" (change)="fileChangeEvent($event)" multiple placeholder="Upload a file..." />
        </div>
        <button type="submit" class="btn btn-success" (click)="upload()">
                <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
            </button>
    </div>
</main>