<main role="main">
    <div class="introdution-container masthead">
        <div class="masthead-contents">
            <h1>About</h1>
            <h3>
                Hello! hi My focus is on creating unique visual concepts and gripping digital experiences. I'm always looking for creative and innovative solutions, aiming to reach fresh results.
            </h3>
        </div>
        <div class="contact-me">
            <a href="mailto:sharma03aashi@gmail.com" class="mail-me">Mail me</a>
            <ul class="nav-list">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <img src="../../assets/images/profile.jpg" class="profile-pic" alt="" />
    </div>
</main>