<main role="main">
    <div class="introdution-container masthead">
        <div class="masthead-contents">
            <h1>Name</h1>
            <p>User Experience Designer, User Interface Designer</p>
        </div>
    </div>
    <section class="project-grid">
        <div class="row no-pad">
            <a *ngFor="let image of images" class="js-editable-target editable project-cover js-project-cover-touch hold-space" (click)="goToProject( image._id)" href="javascript:void(0)" data-context="pages" data-identity="id:p5be447aecd17592ab8ac34de934d2163a159f3349445697b391d4">
                <div class="cover-image-wrap">
                    <div class="cover-image">
                        <div class="cover cover-normal">

                            <img class="cover__img js-lazy image-loaded" src="/uploads/{{ image.filename}}">
                        </div>
                    </div>
                </div>
                <div class="details-wrap">
                    <div class="details">
                        <div class="details-inner">
                            <div class="title">{{image.title}}</div>
                            <div class="description">{{image.description}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </section>
</main>