<main role="main">
    <div class="introdution-container masthead">
        <div class="masthead-contents">
            <h1>Hello! My focus is on creating unique visual concepts and gripping digital experiences. I'm always looking for creative and innovative solutions, aiming to reach fresh results.</h1>
        </div>
    </div>
    <section class="project-grid">
        <div class="row no-pad">
            <div class="col-12 col-sm-6 col-md-4 project-wrap">
                <div class="project-image">
                    <img src="../../assets/images/project1.jpg" alt="img" />
                </div>
                <div class="project-description">
                    <h1>The Renegade - Typeface</h1>
                    <h3>Graphic Design<span class="separator">,&nbsp;</span>Typography<span class="separator">,&nbsp;</span></h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 project-wrap" *ngFor="let image of images">
                <div class="project-image">
                    <img src="/uploads/{{ image.filename}}" alt="img" />
                </div>
                <div class="project-description">
                    <h1>{{image.title}}</h1>
                    <h3>{{image.description}}</h3>
                </div>
            </div>
        </div>
    </section>
</main>