$primary-color: #303030; //Mine Shaft
$seconday-color: #BEBEBE; //Silver
$hover-color: #4585F3; //Cornflower Blue
// Primary colors
$white: #ffffff;
$black: #000000;
// White
$alabaster: #f7f7f7;
$concrete: #F2F2F2;
//grey
$grey: #999999; //Dusty Gray
$grey2: #919191; //Gray
$dark-grey: #323232; //Mine Shaft
$grey3: #707070; //Dove Gray
//Black
$cod-gray: #191919;