@import 'color.scss';
@import 'mixins.scss';
@import 'variables.scss';
//common css

/* Page title
================================== */

.masthead {
    @include padding(100px 20px);
    .masthead-contents {
        text-align: $text-center;
    }
    h1 {
        font-size: $extra-large-fontsize;
        color: $black;
        font-family: $MontserratBold;
    }
    h3 {
        @include padding (20px 0 0);
    }
    p {
        font-size: $semi-large-fontsize;
        color: $grey2;
        font-family: $OpenSansRegular;
        @include padding(10px 0 0);
    }
}


/* Tables
================================== */

.imageTable {
    display: $display-flex;
    flex-wrap: wrap;
    @include margin(0 0 1em 0);
    @include padding(0);
}

.imageTable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%; // Default to full width
    @include padding(0.8em 1.2em);
    overflow: $hidden; // Or flex might break
    border: solid 3px white;
}

.imageTable-5cols>.imageTable-cell {
    width: 20%; // for 3 columns
    // width: 16.6%; for 4 columns
}