<header>
    <div class="row header-container">
        <nav class="col-4 left-align">
            <ul class="nav-list nonResp-menu">
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Projects</a></li>
                <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
                <li><a href="/upload" routerLinkActive="active" class="" *ngIf="loggedInUser" [routerLinkActiveOptions]="{exact: true}">Upload</a></li>
                <li><a href="javascript:void(0)" (click)="logout()" *ngIf="loggedInUser">Logout</a></li>
            </ul>
        </nav>
        <div class="col-4 logo">
            <h1 class="logo-text"><a href="#">R S</a></h1>
        </div>
        <nav class="col-4 right-align">
            <ul class="nav-list nonResp-menu">
                <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <div class="col-8 responsive-menu right-align">
            <a href="javascript:void(0)" (click)="openHiddenMenu($event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <div class="hidden-menu" id="hidden-menu" [ngClass]="{'active': toggle}">
                <p (click)="hideHiddenMenu($event)" class="close-menu">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </p>
                <ul (click)="hideHiddenMenu($event)">
                    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Projects</a></li>
                    <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
                    <li *ngIf="loggedInUser"><a href="/upload" routerLinkActive="active" class="" [routerLinkActiveOptions]="{exact: true}">Upload</a></li>
                    <li *ngIf="loggedInUser"><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                    <li><a href="#">Behance</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Linked in</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>