// Import 
@import '../../assets/scss/main.scss';

/* Header */

.header-container {
    @include padding(75px 20px 20px);
    /* logo */
    .logo-text {
        font-size: $fontsize-30;
        @include padding (0px);
        text-align: $text-center;
        font-family: $MontserratSemiBold;
        &:focus {
            color: $hover-color;
        }
    }
    .logo-secondary {
        color: $seconday-color;
        font-size: $small-fontsize;
        font-style: $normal;
        font-weight: $weight-400;
        line-height: 22px;
        @include padding (0px);
        text-align: $text-center;
        text-transform: $text-uppercase;
    }
}


/* Navigation */

.nav-list {
    li {
        display: $display-inlineblock;
        @include margin(0 10px 0 0);
        font-size: $semi-large-fontsize;
        line-height: 28px;
        font-family: $MontserratRegular;
        color: $seconday-color;
        a {
            &.active {
                color: $black;
                font-family: $MontserratSemiBold;
            }
            &.hover {
                i {
                    color: $black;
                }
            }
            i {
                text-align: $text-center;
                width: 35px;
            }
        }
    }
}

// Responsive menu 
.responsive-menu {
    display: $none;
    i {
        font-size: 26px;
        margin-top: 2px;
        margin-right: 20px;
        cursor: pointer;
    }
    .hidden-menu {
        display: $none;
        &.active {
            display: $display-flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            position: $position-fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9;
        }
        .close-menu {
            position: $position-absolute;
            top: 50px;
            right: 20px;
        }
        ul {
            li {
                text-align: $text-center;
                @include padding(20px 0);
            }
        }
    }
}

@include for-phone-only {
    .responsive-menu {
        display: $display-block;
    }
    nav {
        display: $display-none;
    }
}