// Import 
@import '../../assets/scss/main.scss';
.upload-panel {
    @include padding (20px);
    .form-group {
        @include padding(0 0 20px 0);
        label {
            display: $display-block;
            @include padding(0 0 10px 0);
        }
        textarea {
            resize: none;
        }
    }
}


/* Tables
================================== */

.imageTable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1em 0;
    padding: 0;
}

.imageTable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%; // Default to full width
    padding: 0.8em 1.2em;
    overflow: hidden; // Or flex might break
    border: solid 3px white;
}

.imageTable-5cols>.imageTable-cell {
    width: 20%; // for 3 columns
    // width: 16.6%; for 4 columns
}