/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/main.scss';
// Montserrat
@include font-face ('Montserrat-Regular', 'assets/fonts/Montserrat/Montserrat-Regular.ttf');
@include font-face ('Montserrat-SemiBold', 'assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
@include font-face ('Montserrat-Bold', 'assets/fonts/Montserrat/Montserrat-Bold.ttf');
// Open_Sans
@include font-face ('OpenSans-Regular', 'assets/fonts/Open_Sans/OpenSans-Regular.ttf');
@include font-face ('OpenSans-SemiBold', 'assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
.goToTop {
    background-color: $seconday-color;
    @include padding(10px);
    position: fixed;
    bottom: 10%;
    right: 10%;
    @include rounded-corners(50%, 50%, 50%, 50%);
    display: none;
    outline: none;
    &.active {
        display: block;
    }
}

html {
    scroll-behavior: smooth;
    font-family: $MontserratRegular;
}

// Common
.left-align {
    text-align: $text-left;
}

.right-align {
    text-align: $text-right;
}